@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--casual);
}

button {
	color: black;
}

:root {
	--border-radius: 0.5em;
	--polite: "Open Sans", sans-serif;
	--casual: "Comic Neue", "Comic Sans MS", sans-serif;
	--info-z: 1;
	--hover-z: 2;
	--overlay-z: 3;
	--details-z: 4;
	--error-z: 5;
}

body {
	width: 100vw;
	height: 100dvh;
	overflow: hidden;
}

.userColor, #key .tile {
	width: 1em;
	display: inline-block;
	border: 2px black solid;
}

.tile {
	display: block;
	aspect-ratio: 1/1;
	text-align: center;
	background: currentColor;
	position: relative;

	&.hovered[data-info]::after {
		content: attr(data-info);
		left: 50%;
		bottom: 10%;
		transform: none;
	}
}

.success::before {
	content: "✅";
}

#view {
	position: absolute;
	width: min(75vh, 95vw);
	aspect-ratio: 1/1;
	transform: translateX(-50%);
	left: 50%;
	bottom: 0;
}

#error {
	display: none;
	position: absolute;
	left: 50%;
	top: 1em;
	transform: translateX(-50%);
	z-index: var(--error-z);
	background: white;
	border: 3px red solid;
	color: red;
	padding: 1em;
	font-family: var(--polite);
	max-width: min(30em, 80vw);
}

#errorStack {
	padding-top: 1em;
	font-family: monospace;
	white-space: pre-wrap;
}

#hoverStats {
	transform: translate(0, -100%);
	display: none;
}

#hoverStats, .tile.hovered[data-info]::after {
	position: absolute;
	z-index: var(--hover-z);
	background: white;
	border: 1px black solid;
	border-radius: var(--border-radius);
	color: black;
	width: min-content;
	white-space: pre;
	padding: 0.25em;
	pointer-events: none;	
}

#others {
	background: linear-gradient(45deg, #38f912 33%, #fbc192 34%, #fbc192 66%, #1287fd 67%);
}

#rainbow {
	background: linear-gradient(-45deg, red, orange, yellow, green, blue, purple);
}

.unknown {
	background: linear-gradient(-45deg, #dfdfdf 49%, #d0d0d0 51%);
}

.progress {
	z-index: var(--info-z);
	box-shadow: 0 0 9px currentColor;
}

#info, #key {
	padding: 1em;
	position: absolute;
	background: #dfdfdf;
	top: 0;
}

#controls {
	padding-top: 1em;
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	
	button {
		border: 1px black solid;
		background: white;
		padding: 1em 2.5em;
		margin-top: 0.5em;
		font-weight: bold;
		letter-spacing: 0.1em;
		font-family: var(--polite);
		cursor: pointer;

		&:hover {
			background: #eee;
		}

		&:active {
			background: #bbb;
		}
	}

	#stop:disabled {
		display: none;
	}

	#utilizationWrapper {
		display: flex;
		width: 11em;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
}

#progress {
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translateY(100%);
	padding: 0.5em;
	background: white;
	border: 1px black solid;
	border-left: none;
	border-bottom-right-radius: var(--border-radius);
}

#info {
	left: 0;
	border-bottom-right-radius: var(--border-radius);
	max-width: 50%;
	z-index: var(--info-z);

	h1 {
		font-size: min(calc(7vw - 0.2rem), 30px);
		font-family: var(--polite);
		padding-bottom: 0.3em;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.4em;
	}

	.tile {
		display: inline-block;
		position: relative;
		top: 0.15em;
		margin-left: 0.1em;
	}
}

#key {
	right: 0;
	width: 16em;
	display: grid;
	grid-template-columns: 1em auto;
	column-gap: 0.5em;
	border-bottom-left-radius: var(--border-radius);

	.tile {
		grid-column: 1;
		justify-self: end;
		position: relative;
		top: 0.15em;
	}

	span {
		grid-column: 2;
	}
}

#offer {
	text-decoration: underline;

	&.hovered::after {
		content: " (if you send me an email at hbhays@uw.edu with your color code, " attr(data-user-color) ")";
	}
}

.hidden {
	display: none;
}

#details {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: var(--details-z);
}

#detailsContent {
	font-size: 1.2em;
	width: 35em;
	max-width: 90vw;
	max-height: 90vh;
	padding: 1em;
	overflow-x: hidden;
	overflow-y: auto;
	background: white;
	border: 1px black solid;
	border-radius: var(--border-radius);

	figure {
		width: 100%;
		margin-block: 1em;
		padding: 0.5em;
		background: #eee;
		border-radius: var(--border-radius);
	
		img {
			width: 100%;
			border-radius: calc(var(--border-radius) - 0.2em);
		}
	
		figcaption {
			text-align: center;
			font-size: 0.9em;
			padding: 0.1em;
			padding-bottom: 0.1em;
		}
	}
}

#blurOverlay {
	display: none;
}

#details:not(.hidden) ~ #blurOverlay {
	display: block;
	position: absolute;
	z-index: var(--overlay-z);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(0.2em);
}

#viewDetails, #closeDetails {
	font-size: 1.2rem;
	display: block;
	padding: 0;
	background: none;
	width: 1.4em;
	height: 1.4em;
	background: white;
	border: 2px black solid;
	border-radius: 50%;
	font-weight: bold;
	cursor: pointer;
	font-family: "Times New Roman", serif;

	&:hover {
		background: #eee;
	}
}

#viewDetails {
	font-style: italic;
}

#closeDetails {
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(25%, -25%);

	&::before, &::after {
		content: "";
		position: absolute;
		display: block;
		left: 50%;
		top: 50%;
		width: 0.7em;
		height: 0.1em;
		background: black;
		transform: translate(-50%, -50%) rotate(var(--angle));
	}

	&::before {
		--angle: -45deg;
	}

	&::after {
		--angle: 45deg;
	}
}

@media only screen and (max-width: 900px) {
	#info {
		width: 100vw;
		max-width: 100%;
		border-bottom-right-radius: 0;
	}

	#key {
		border-bottom-left-radius: 0;
		border-top-right-radius: var(--border-radius);
		top: unset;
		bottom: 0;
		left: 0;
	}
}

@media only screen and (max-width: 500px) {
	#controls {
		flex-direction: column;
		align-items: center;
		gap: 1em;

		> * {
			width: 100% !important;
		}

		input, button {
			width: 100%;
		}
	}
}